<script src="//player.ooyala.com/static/v4/production/latest/core.min.js"></script>
<script src="//player.ooyala.com/static/v4/production/latest/video-plugin/main_html5.min.js"></script>
<script src="//player.ooyala.com/static/v4/production/latest/video-plugin/bit_wrapper.min.js"></script>
<script src="//player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.js"></script>
<link rel="stylesheet" href="//player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.css" />
<script src="//player.ooyala.com/static/v4/production/latest/other-plugin/playlists.min.js"></script>
<div id="container"></div>
<script>
    var playerParam = {
        "pcode": "9ocWkyOis6XHszQOCRXkzmxI5sLz",
        "playerBrandingId": "b4b75f3104ae4de696d3dec137786090",
        "playlistsPlugin":{
            "data":["23cc7ae2eeb1460f98a5178af404f5ac"]
        },
        "autoPlay":true
    };
    OO.ready(function() {
        var playedTimes=0;
        player = OO.Player.create('container', "tnMm9lYjE6oNqp5U5fUrLKr05V8iGEQL", playerParam);
        player.subscribe('*' , 'example', function(eventName){
            if(eventName!='playheadTimeChanged'){console.log(eventName)}
            if(eventName=='willPlay'&&playedTimes==0){
                player.pause()
                playedTimes++;
            }
        });
    });
</script>

